extends layout

block content
  h1= title
  p Welcome to #{title}
  table#example.table.table-striped.table-bordered(style='width:100%')
    thead
      tr
        th Country
        th Deaths
        th Cumulative Deaths
        th Confirmed
        th Cumulative Confirmed
    tbody
      each country_statistic_day in countries_statistic_days
        tr
          td #{country_statistic_day['Country Name']}
          td #{country_statistic_day['Deaths']}
          td #{country_statistic_day['Cumulative Deaths']}
          td #{country_statistic_day['Confirmed']}
          td #{country_statistic_day['Cumulative Confirmed']}

  script.
    $('#example').DataTable({
      "scrollY": "500px",
      "scrollCollapse": true,
      "paging": false
    });